<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head') %>

</head>
<body>
    <%-include('./inc/nav') %>
    <section>
        <h1>Haqqimizda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis similique, asperiores officia rem necessitatibus saepe recusandae consequatur quos hic provident ipsa repellendus unde molestias, repellat alias rerum! Aliquid, praesentium minima.</p>
 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis similique, asperiores officia rem necessitatibus saepe recusandae consequatur quos hic provident ipsa repellendus unde molestias, repellat alias rerum! Aliquid, praesentium minima.</p>
    </section>
</body>
</html>