<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head') %>

</head>
<body>
    <%-include('./inc/nav') %>
    <section>
  <form method="post">
<input type="text" name="username" placeholder="Istifadeci adi" required>
<input type="password" name="password" placeholder="parol" required>
<input type="submit" value="Daxil ol">
  </form>
    </section>
</body>
</html>